/C01_Contains.class
/C02_EndsWith.class
/C03_StartsWithIsEmpty.class
/C04_Replace.class
/C05_ReplaceAll.class
/C06_Substring.class
/C07_Examples1.class
/C08_Examples2.class
/C09_Examples3.class
/C10_Examples4.class
/C11_Examples4.class
